@font-face {
  font-family: 'Rijksoverheid Sans';
  src: url('/fonts/rijksoverheid-sans-regular.woff2') format('woff2'),
       url('/fonts/rijksoverheid-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rijksoverheid Sans';
  src: url('/fonts/rijksoverheid-sans-bold.woff2') format('woff2'),
       url('/fonts/rijksoverheid-sans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --kleur-achtergrond: #262D30;
  --kleur-tekst: white;
  --kleur-accent: #FFBC2C;

  --kleur-gebruik: #FFBC2C;
  --kleur-probeer: white;
  --kleur-onderzoek: #8ecae6;
  --kleur-verminder: #e07a5f;
}
body {
  font-family: 'Rijksoverheid Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: var(--kleur-achtergrond);
  color: var(--kleur-tekst);
}
img {
  width: 210px;
}
h1 {
  padding: 0 15px 0 15px;
}
h3 {
  margin-top: 30px;
}
li {
  margin: 20px 50px 0 0;
}
a {
  color: var(--kleur-accent);
}
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  width: 640px;
  padding: 0 20px 0 20px;
}